table {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-self: center;
  text-align: center;
  width: 100%;
  color: gray;
  min-height: 50vh;
}


tbody {
  align-self: center;
  font-size: 25px;
}

td {
  text-align: center;
  border: none;
}

.decoration-name {
  display: flex;
  justify-content: center;
  margin: 0 350px;
  text-align: center;
  font-size: 40px;
}

.button-delete-recipe {
  font-size: 20px;
  outline: 0;
}

.button-details {
  margin-left: 5px;
  width:100px;
  height: 30px;
  text-align: center;
  margin-left: 30px;
}