.card {
  background-color: #ffffff;
  display: flex;
  border-radius: 6px;
  flex-direction: column;
  margin: auto auto;
}

.recipe-name {
  border: none;
  padding-top: 20px;
  font-size: 30px; 
  outline: none;
  display: flex;
}

.add-ingredients-row {
  display: flex;
}

.buttons-row {
  display: flex;
  margin-top: 20px;
  justify-content: flex-end;
}

.ingredient-input {
  width: 40%;
  border-radius: 6px;
  border: 1px solid lightgray;
  outline: none;
}

.ingredient-input:focus {
  border: 2px solid lightblue;
}

.recipe-notes {
  min-height: 100px;
  border-color: lightgray;
  border-radius: 6px;
  outline: none;
  resize: none;
  font-size: 18px;
}

.recipe-notes:focus {
  border: 2px solid lightblue;
}

.point-list {
  display: inline-block;
  font-size: 20px;
  height: 0px;
}
